# Dependencies
node_modules/
**/node_modules/

# Environment Variables
.env
client/.env
server/.env

# Build folders
dist/
build/

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Vercel
.vercel/

# Coverage
coverage/

# Runtime files
*.pid